{% extends "base.html" %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">Reset Password</div>
            <div class="card-body">
                <form lass="form" role="form" method="POST">
                    
                        {% csrf_token %}
                        {{ form.as_p }}
                    
                        <!-- Submit button -->
                        <input type="submit" value ="Reset Password" class="btn btn-primary btn-block mb-4"></input>
                    
                        <!-- Register buttons -->
                        <div class="text-center">
                            <a href="{% url "login" %}">Back to Login</a>
                        </div>
                
                </form>
            </div>
        </div>
    </div>
{% endblock %}